@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --unico-600: #E10600;
}

/* Scrollbar clean (pro) */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(15, 23, 42, 0.25) transparent;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background: rgba(15, 23, 42, 0.2);
  border-radius: 999px;
}